
body {
    position: relative;
}

.navbar-header{
    border-bottom: solid 1px #ff7100;

}
.navbar-brand {
    font-family: "DecoType Naskh";
    font-size: 2.5em;
    letter-spacing:2.5px;
        /*color: #ff7100;*/
          /* inf blue color: #18d5ff  is set up in the html sheet*/
    /* transition: 1.50s;*/
}

#section1 {
    padding-top: 200px;
    height: 500px;
    color: #fff;
    background-color: gray;
}

#section2 {
    padding-top: 100px;
    height: 500px;
    color: #fff;
    background-color: gray;
}

#section3 {
    padding-top: 100px;
    height: 500px;
    color: #fff;
    background-color: gray;
}

#section41 {
    padding-top: 100px;
    height: 500px;
    color: #fff;
    background-color: gray;
}

#section42 {
    padding-top: 100px;
    height: 500px;
    color: #fff;
    background-color: gray;
}
